<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recepy API</title>
</head>

<body>
    <div style="text-align:center;">
        <h1>Welcome to Task API</h1>
        <h3>Created by <%= author %> - 2021 </h3>
    </div>
</body>

</html>